@media only screen and (max-width: 1024px) {
    .about {
        display: block;
    }
    .about-desc {
        padding: 0 60px;
        width: auto;
    }
    .about img {
        border-radius: 50%;
        width: 15%;
        min-width: 220px;
        min-height: 220px;
        height: auto;
    }
    .about p {
        padding-top: 10px;
    }
    .resume-btn-div {
        text-align: center;
        padding: 35px 0;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 85%;
    }
    nav {
        background-color: rgb(33, 33, 33);
        padding: 3% 5% 3% 5%;
    }
    .navbtn-panel {
        position: absolute;
        width: 100%;
        height: auto;
        /* background-color: rgb(33, 33, 33); */
        background-color: rgb(66, 66, 66);
        left: 0px;
        top: 100%;
        align-items: center;
        display: none;
    }
    .navbtn-panel ul {
        padding: 0;
        margin: 0;
        left: 0;
        display: block;
    }
    .navbtn-panel ul li {
        border-top: none;
        padding: 0.8rem 0;
        color: white;
        text-align: center;
        align-content: center;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
    #header-name-section {
        display: flex;
        flex-direction: column;
    }
    #header-name-section h1 {
        display: block;
        padding-bottom: 1%;
        padding-right: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 80%;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 75%;
    }
}