@media only screen and (max-width: 1251px) {
    html {
        font-size: 90%;
    }
    .about-content {
        flex-direction: column;
        width: 75vw;
        margin: 0 12.5vw;
    }
    .about-content img {
        padding: 2vw;
        max-width: 10vw;
    }
    .about-content p {
        margin-left: 0;
    }
    .about-content, .project-odd, .project-even {
        width: 75vw;
        margin: 0 12.5vw;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 85%;
    }
    .project-odd img, .project-even img {
        display: none;
    }
    .project-odd .project-desc, .project-even .project-desc {
        margin: 0;
    }
    .skill-3 {
        flex-direction: column;
        margin: 0;
    }
    .skill-3:nth-child(2) {
        margin: 0;
    }
    .skill-frame {
        margin: 0 8vw;
    }
}

@media only screen and (max-width: 801px) {
    html {
        font-size: 80%;
        scroll-padding-top: 60px;
    }
    .menu-burger {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
    .logo-out {
        padding: 0;
        margin: 4px 0 0 0;
        display: block;
    }
    .logo-out img {
        padding: 0;
        margin: 0;
    }
    .logo-in {
        display: none;
    }
    nav {
        background-color: white;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    .nav-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: max-content;
        left: 0px;
        top: 101.5%;
        align-items: center;
        /* padding: 8px 0; */
        /* border-bottom: 0.5px solid black; */
    }
    .nav-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav-menu ul li{
        border-bottom: 1px solid black;
        padding: 5px 0;
        width: fit-content;
    }
    .nav-menu ul li a p:hover {
        border-bottom: none;
    }
    .nav-menu-btn p{
        margin: 0;
        width: 100vw;
        padding: 3.5px 0;
    }
    .social-icons i {
        font-size: 230%;
    }
    .skill-3 {
        margin: 0;
    }
}

@media only screen and (max-width: 401px) {
    html {
        font-size: 65%;
        scroll-padding-top: 48px;
    }
    .about-content, .project-odd, .project-even {
        width: 80vw;
        margin: 0 10vw;
    }
    .section-title span:first-child {
        width: 30vw;
        height: 0;
        margin-left: 2vw;
        border-bottom: 1px solid black;
    }
    .section-title span:last-child {
        width: 30vw;
        height: 0;
        margin-right: 2vw;
        border-bottom: 1px solid black;
    }
    footer {
        margin-top: 3vh;
    }
    .skills-icons {
        width: 80vw;
        margin: 0 10vw;
    }
    .skill-frame {
        margin: 0 4vw;
    }
}