/***START FONT IMPORTS***/

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Black.ttf)
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf)
}

/***END FONT IMPORTS***/

/***START HTML GLOBAL ELEMENTS***/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

body {
    margin: 0;
}

/***END HTML GLOBAL ELEMENTS***/

/***START BACKGROUND HEADER PAGE***/

#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

canvas {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

/***END BACKGROUND HEADER PAGE***/

/***START BODY CONTENT PAGE***/

.main-content {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: white !important;
}

/***END BODY CONTENT PAGE***/

/***START NAVIGATION PANEL***/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5% 5% .5% 5%;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.socialicons {
    align-content: center;
}

.socialicons a i {
    font-size: 170%;
    padding: 0px 4.5px 0px 4.5px;
    color: white;
}

.socialicons a i:hover {
    color: rgb(153, 151, 216);
}

.navbtn-panel ul {
    display: flex;
    list-style: none;
}

.navbtn-panel ul li {
    margin: 0;
    padding: 0 12px 0 12px;
}

.navbtn-panel ul li a {
    font-family: 'Roboto-Bold';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 125%;
}

.navbtn-panel ul li a:hover {
    color: rgb(153, 151, 216);
}

.burger {
    display: none;
}

.burger:hover>div {
    background-color: rgb(153, 151, 216);
}

.burger div {
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    padding: 0;
}

.nav-background {
    background-color: rgb(33, 33, 33);
}

/***END NAVIGATION PANEL***/

/***START HOME NAME SECTION***/

#header-name-section {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-name-section h1 {
    font-size: 390%;
    margin: 0;
    display: block;
    padding-right: 0.5%;
}

#header-name-section span {
    font-size: 120%;
}

/***END HOME NAME SECTION***/

/***START ABOUT SECTION***/

.about {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(33, 33, 33);
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.about p {
    line-height: 150%;
    text-align: left;
    font-size: 130%;
}

.name {
    display: inline;
    color: rgb(153, 151, 216);
}

.about img {
    border-radius: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    height: auto;
}

.about a {
    padding-left: 2px;
}

.about-desc {
    text-align: left;
    margin: 0;
    padding: 0 3% 0 3%;
    width: 50%;
}

.about-title {
    display: inline;
}

.about-title h2 {
    display: inline;
    text-align: left;
    font-size: 260%;
    margin: 0;
}

#resume-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    font-size: 80%;
    margin: 0;
    padding: 12px 12px;
    -webkit-appearance: none;
    color: black;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
}

#resume-btn:hover {
    color: white;
    background-color: rgb(134, 131, 212);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/***END ABOUT SECTION***/